.wrapper {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.profileImage {
  width: 300px;
  margin-bottom: 50px;
}

ul {
  font-size: 30px;
}
